.loginTile {
  width: 300px;
  height: 350px;
  margin: 100px auto;
  position: relative;
}

.loginForm {
  width: 80%;
  margin: 10px auto;
}

.loginActions {
  margin-top: 50px;
  width: 100%;
}

.loginButton {
  width: 80%;
}

